.card {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.card-content {
    padding: 20px;
}

.card-description {
    margin: 10px 0 0;
    text-align: center;
    justify-content: center;
    font-size: 1em;
    color: #a0237f;
}